# Server
PORT=3000
NODE_ENV=development

# Database
MONGO_URI=mongodb+srv://mohan:Mohan12345$@mohansirportofolio.ssuywlm.mongodb.net/?appName=MohanSirPortofolio

# Authentication
JWT_SECRET=your_jwt_secret_key
SALT_ROUNDS=10

# Cloud Storage (example: Cloudinary)
CLOUDINARY_CLOUD_NAME=your_cloud_name
CLOUDINARY_API_KEY=your_api_key
CLOUDINARY_API_SECRET=your_api_secret

# Email (optional, if using nodemailer)
EMAIL_HOST=smtp.yourmail.com
EMAIL_FROM=host_email@example.com
EMAIL_PORT=587
EMAIL_USER=your_email@example.com
EMAIL_PASS=your_email_password

#JSON WEB TOKENS
ACCESS_KEY=RANDOMSECRETKEY
REFRESH_KEY=RANDOMSECRETKEY